@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.cm-theme-dark {
  background-color: #161616 !important;
}

.cm-editor {
  background-color: #161616 !important;
  outline: none !important;
}

.cm-gutters {
  background-color: #161616 !important;
}
